html,
body,
#react-root,
#Chronicle,
#TimelinePanel,
#Timeline {
  height: 100%;
}
#GitHubRibbon {
  position: fixed;
  right: 0px;
  top: 0px;
}
#Chronicle #Logo {
  height: 100px;
}
#Chronicle header,
#Chronicle footer {
  z-index: 10000;
}
#Chronicle header {
  position: fixed;
  top: 0px;
}
#Chronicle footer {
  color: #ddd;
  background-color: #000;
  height: 50px;
  bottom: 0px;
}
#Chronicle footer iframe {
  vertical-align: middle;
}
#Chronicle footer span {
  margin-right: 15px;
}
#Chronicle footer span a {
  pointer: cursor;
}
#TimelinePanel {
  margin-top: -50px;
  padding: 50px 0px;
}
.ver-helper {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
