$font_normal = "Lato", cwTexHei, Helvetica, STHeiti, "Microsoft JhengHei", "微軟正黑體", PMingLiU, "Lucida Grande", Arial, sans-serif

$head_2_size = 2em 

$font_size_desktop = 14px
$font_size_mobile  = 28px

$line-height-desktop = 1.42857143
$line-height-mobile  = 2

$button_color = #0d5287
$button_color_hover = #0585e8

$screen-lg = 1200px		// Large devices (large desktops)
$screen-md = 992px		// Medium devices (desktops)
$screen-sm = 768px		// Small devices (tablets, under this size called extreme small, i.e., phones)
$screen-md-max = $screen-lg - 1
$screen-sm-max = $screen-md - 1
$screen-xs-max = $screen-sm - 1

// Y.D. 20121213: The header will unify eventually.
// For header
$header_height = 50px
$header_font_size = 25px
$header_line_height = 2em

// $rainbow_ribbon_height = 50px
$circle_border_radius = 50%

add(a, b)
	a + b

// a: Sum of padding top and bottom. b: line-height
calBorderWidth(a, b)
	(a + b) / 2


// Y.D. 20161218: There is a strange issue
// rotateArrowHeadClockwise()
// 	-webkit-transform: rotate(45deg) translate(-20px, 20px)
// 	-moz-transform: rotate(45deg) translate(-20px, 20px)
// 	-o-transform: rotate(45deg) translate(-20px, 20px)
// 	transform: rotate(45deg) translate(-20px, 20px)


// rotateArrowHeadCounterClockwise()
// 	-webkit-transform: rotate(-45deg) translate(-10px, -10px)
// 	-moz-transform: rotate(-45deg) translate(-10px, -10px)
// 	-o-transform: rotate(-45deg) translate(-10px, -10px)
// 	transform: rotate(-45deg) translate(-10px, -10px)
  	
transform(setting)
	-webkit-transform: setting
	-moz-transform: setting
	-o-transform: setting
	transform: setting
	
// Y.D. 20161212: The css code for landing page.
header.landing-page
	color : #fff 
	height: $header_height
	background-color: #333
	z-index: 1000
	.header-title
	.header-elements
		display: inline-block
		letter-spacing: 5px
		font-weight : 300
	.header-title
		font-size: $header_font_size
		line-height: $header_line_height
		margin-left: 30px
		.author
			top: 7px
			font-size: 10px
			margin-left: 5px
			position: relative
	.header-elements
		// display: inline-block
		float: right
		.link
			position: absolute
			color: #fff
			font-size: 18px
			line-height: 32px
		.link:first-child
			right: 150px
			top: 9.5px	
	
			
#GitHubRibbon 
	top: 0
	right: 0
	border: 0
	z-index: 100000
	position: absolute
	display : inline-block

.landing-slide
	height: 900px
	padding: 50px 0px
	&.bg-light-gray
		background-color: #EEEEEE
	&.bg-white
		color: #D9292F
		background-color: #FFFFFF
		.context 
			color: #585858
		.btn
			color: #D9292F
			border-color: #D9292F
	&.bg-red
		color: #fff
		background-color: #D9292F
		.btn
			color: #fff
			border-color: #fff
			
	.head-img-wrapper
		text-align: center
		.head-img
			height: 300px
	.sub-title
		font-size: 30px
		margin: 0px
	.main-title
		font-size: 64px
		margin: 10px 0px 40px
	.btn
	.context
		font-size: 24px
	.context
		width: 80%
		text-align: center
		margin: 25px auto 50px
	.btn
		display: inline-block
		opacity: 0.69
		// border: 2px solid #D72229
		// border-radius: 77px
		line-height: 36px
		text-decoration: none
		padding: 17px 32px
		.arrow
			display: inline-block
			position: relative
			top: -2px
			width: 25px
			height: 14px
			.arrow-bone
			.arrow-head
				display: inline-block
				position: absolute
				background-color: #D9292F
				height: 2px;
				&.bg-red
					background-color: #D9292F
				&.bg-white
					background-color: #fff
			.arrow-head
				width : 9.899px;
				transform-origin: 100% 50%
			.arrow-bone
				width: 25px
				top: 7.5px
				left: 0px
			.arrow-head
				&.rotate-clock
					left: 43px
					top: 8.3px
					transform: rotate(45deg) translate(-20px, 20px)
					-webkit-transform: rotate(45deg) translate(-20px, 20px)
					-moz-transform: rotate(45deg) translate(-20px, 20px)
					-o-transform: rotate(45deg) translate(-20px, 20px)
					
				&.rotate-counter-clock 
					left: 29px
					top: 8.3px
					transform: rotate(-45deg) translate(-10px, -10px)
					-webkit-transform: rotate(-45deg) translate(-10px, -10px)
					-moz-transform: rotate(-45deg) translate(-10px, -10px)
					-o-transform: rotate(-45deg) translate(-10px, -10px)
	.btn:hover
		opacity: 1
	.note
		font-size: 12px
		
.social-row
.timerblock
	text-align: center
	
.time
	margin-bottom: 50px
	
.timer-img-wrapper
	height: 100px
	
.social-row
	margin: 50px 0px
	iframe
		vertical-align: middle

.social-element
	vertical-align: middle
	margin: 20px 10px

// Y.D. 20161212: Overwrite the flipclock css style
.flip-clock-wrapper
	display: inline-block
	width: auto
	// Y.D. 20161215 : CT say no.
	// &:before
	// 	position: relative
	// 	display: inline-block
	// 	left: -40px
	// 	top :  20px
	// 	float: left
	// 	font-size: 34px
	// 	content: "倒數"
#AdviceTimer
#IssueTimer
	.flip-clock-label
		color: #d9292f

.flip-clock-divider 
	.flip-clock-label
		font-size: 36px
		position: relative
		top: 110px
		
.days.flip-clock-divider
	.flip-clock-label
		left: 36px
.hours.flip-clock-divider
	.flip-clock-label
		left: 40px
.minutes.flip-clock-divider
	.flip-clock-label
		left: 29px
.seconds.flip-clock-divider
	.flip-clock-label
		left: 25px

.next-row
	width: 100%
	position: absolute
	text-align: center
	bottom: 20px
	
.landing-footer
	padding: 50px 0px
	.credit-signature
		height: 50px
		background-color: #333
		color: #fff
		.authors
			display: inline-block
			vertical-align: middle
			font-size: 18px
			margin: 0px 15px
	
#disqus-container
	padding: 20px 30px
#facebook-social-page-container
	text-align: center

#GroupTimer
#FinalTimer
	&:before
	&:after
		color: #333
		font-size: 24px
		position: relative
	&:before
		content: "倒數"
	&:after
		content: "天"
		
#GroupTimer
	&:before
		left: 34%
	&:after
		left: 40%
	&:before
	&:after
		color: #d9292f

#FinalTimer
	&:before
		left: 38% 
	&:after
		left: 44%
	&:before
	&:after
		color: #fff
	
	

// Y.D. 20161212: The below are old css code. Update them after the web design is completed 
header
&.jrcf-header
	top: 0px
	position:fixed
	height: 50px
	width : 100%
	
	border-bottom: 1px dashed #333
	// @media all and (min-width: $screen-xs-max)
	// 	margin-left: -100px
	// @media all and (min-width: $screen-lg)
	// 	margin-left: -40px
	
	.title
		font-size: $header_font_size
		text-align: center
		line-height: $header_line_height
		
article
	padding-top: 100px
	margin-top:  -50px
	
footer
	// height: 50px
	bottom: 0px
	position: fixed
	font-size: $font_size_desktop
	@media all and (min-width: $screen-xs-max)
		height: 100px
	@media all and (min-width: $screen-lg)
		height: 50px
	iframe
	.signature
		vertical-align: middle
	.signature
		margin-left: 40px
		
.ver-helper
	height: 100%
	display: inline-block
	vertical-align: middle
	
.figure-context
	display: inline-block
	vertical-align: middle

.jrcf-article
	.figure
		padding-top: 50px
		text-align: center
		.figure-context
			.image
				margin-bottom: 25px
			.image-info
				display: block
				margin: 0 auto
				.credit
					position: absolute
					right: 50px
					top: 350px
				h2
					font-size: $head_2_size
			img
				border-radius: 150px
	.desc
	.statpanel
		.stat-context
		.desc-context
			text-align: justify
			@media all and (min-width: $screen-xs-max)
				line-height: $line-height-mobile
			@media all and (min-width: $screen-lg)
				line-height: $line-height-desktop
			.title
				font-size: $head_2_size
				border-bottom: 2px solid #333
				margin-bottom: 30px
				h2
					margin-bottom: 0px

		.stat-canvas
			.statrow
				margin: 5px 0px
				.catname
					display: block
					font-size: 1.2em
				.catname
				.ele
				.statvalue
					vertical-align: middle
				.ele
					display: inline-block
					margin: 0px 10px
				.statvalue
					font-size: 1.2em
					font-weight: 800
					margin-left: 30px	
					
	.scorepanel
		position: relative
		height: 100%
		text-align: center
		// .rainbow
		.score
			display: inline-block
			vertical-align: middle
			border-radius: $circle_border_radius
			border: 1px solid #08c
			line-height: 2
			height: 300px
			width : 300px
			h1
				margin: 0px
				font-size: 150px
				&::after
					content: 'pts'
					font-size: 20px
		
		// .rainbow
		// 	width : 300px
		// 	height: 300px
		// 	.color-red
		// 		background-color: red
		// 		height: $rainbow_ribbon_height
		// 	.color-orange
		// 		background-color: orange
		// 		height: $rainbow_ribbon_height
		// 	.color-yellow
		// 		background-color: yellow
		// 		height: $rainbow_ribbon_height 
		// 	.color-green
		// 		background-color: green
		// 		height: $rainbow_ribbon_height
		// 	.color-blue
		// 		background-color: blue
		// 		height: $rainbow_ribbon_height
		// 	.color-purple
		// 		background-color: purple
		// 		height: $rainbow_ribbon_height
			
	.socialpage
		height: 100%
		.context
			display: inline-block
			vertical-align: middle	
			
.canvas-container
	text-align: center
	.warning
		position: absolute
		display: block
		font-size: 10px
		right: 0px
		@media all and (min-width: $screen-xs-max)
			bottom: -20px
		@media all and (min-width: $screen-lg)
			bottom: 5px
		
		
	
#Radar-Canvas
	display: inline-block
	vertical-align: middle
	
	.canvas-title
		font-size: 1.5em
	
	.radarWrapper
		display: none
		
	.radarWrapper
		&.highlighted
			display: inline-block
			.radarArea
				fill-opacity: 1.0
	

#PrevNextBtnBar
	position: fixed
	right: 30px
	bottom: 50px
	.prev
	.next
		position: relative
		cursor: pointer
		color: #fff
		display: inline-block
		background-color: $button_color
		padding: 7.5px 10px
		font-size: 18px
		line-height: $line-height-desktop // Remain the same line-height 
			
	.prev
		left: -30px
		&.hidden
			display: none
	
	.prev:hover
	.next:hover
		background-color: $button_color_hover
		
	.prev::before
	.next::after
		content: ''
		top: 0px
		position: absolute
		border-style: solid
		border-width: calBorderWidth(15px, 18*1.42857143)
		
		
	.prev::before
		left: -40px
		border-color: transparent $button_color transparent transparent;
	.next::after
		right: -40px
		border-color: transparent transparent transparent $button_color;
		
	.next.hidden::after
		display: none

	.prev:hover::before
		border-right-color: $button_color_hover
	.next:hover::after
		border-left-color: $button_color_hover
		
@media all and (min-width: $screen-xs-max)
	html
	body
	#volume
	#JRCF-root
	.jrcf-article
	.jrcf-article-cell
	.figure
	.desc
	.canvas-container
		height: auto
		
	.jrcf-article
		padding-bottom: 200px
		
	.jrcf-article-cell
		margin: 50px 0px
		
	.socialpage
		text-align: center
		
		
@media all and (min-width: $screen-lg)
	html
	body
	#volume
	#JRCF-root
	.jrcf-article
	.jrcf-article-cell
	.figure
	.desc
	.canvas-container
		height: 100%
		
	.jrcf-article
		padding-bottom: 0px

	.jrcf-article-cell
		margin: 0px


 
