$font_normal = "Lato", cwTexHei, Helvetica, STHeiti, "Microsoft JhengHei", "微軟正黑體", PMingLiU, "Lucida Grande", Arial, sans-serif

$head_2_size = 2em 

$button_color = #0d5287
$button_color_hover = #0585e8

add(a, b)
	a + b

calBorderWidth(a, b)
	(a + b) / 2

/* General */
html
body
#volume
#JRCF-root
.jrcf-article
.jrcf-article-cell
.ver-helper
.figure
.desc
.canvas-container
	height: 100%
	
body
	font-family: $font_normal
header
&.jrcf-header
	top: 0px
	position:fixed
	height: 50px
	width : 100%
	margin-left: -40px
	border-bottom: 1px dashed #333
	.jrcf-title
		text-align: center
article
	padding-top: 100px
	margin-top:  -50px
	
footer
	height: 50px

.ver-helper
.figure-context
	display: inline-block
	vertical-align: middle

.jrcf-article
	.figure
		padding-top: 50px
		text-align: center
		.figure-context
			.image
				margin-bottom: 25px
			.image-info
				display: block
				margin: 0 auto
				.credit
					position: absolute
					right: 50px
					top: 350px
				h2
					font-size: $head_2_size
			img
				border-radius: 150px
	.desc
		.desc-context
			text-align: justify
			.title
				font-size: $head_2_size
				border-bottom: 2px solid #333
				margin-bottom: 30px
				h2
					margin-bottom: 0px
					
#Radar-Canvas
	display: inline-block
	vertical-align: middle
	.canvas-title
		font-size: 1.2em
	svg
		height: 100%
		width : 100%
	
	.radarWrapper
		display: none
		
	.radarWrapper
		&.highlighted
			display: inline-block
			.radarArea
				fill-opacity: 1.0

#PrevNextBtnBar
	position: absolute
	right: 30px
	margin-top: 50px
	.prev
	.next
		position: relative
		cursor: pointer
		color: #fff
		display: inline-block
		background-color: $button_color
		padding: 7.5px 10px
		font-size: 18px
		&.hidden
			display: none
			
	.prev
		left: -30px
	
	.prev:hover
	.next:hover
		background-color: $button_color_hover
		
	.prev::before
	.next::after
		content: ''
		top: 0px
		position: absolute
		border-style: solid
		border-width: calBorderWidth(15px, 18*1.42857143)
		
	.prev::before
		left: -40px
		border-color: transparent $button_color transparent transparent;
	.next::after
		right: -40px
		border-color: transparent transparent transparent $button_color;

	.prev:hover::before
		border-right-color: $button_color_hover
	.next:hover::after
		border-left-color: $button_color_hover
		
		
	
	




 
