body {
  font-family: "Lato", cwTexHei, Helvetica, STHeiti, "Microsoft JhengHei", "微軟正黑體", PMingLiU, "Lucida Grande", Arial, sans-serif;
}
header,
.jrcf-header {
  top: 0px;
  position: fixed;
  height: 50px;
  width: 100%;
  border-bottom: 1px dashed #333;
}
@media all and (min-width: 767px) {
  header,
  .jrcf-header {
    margin-left: -100px;
  }
}
@media all and (min-width: 1200px) {
  header,
  .jrcf-header {
    margin-left: -40px;
  }
}
header .title,
.jrcf-header .title {
  font-size: 25px;
  text-align: center;
  line-height: 2;
}
article {
  padding-top: 100px;
  margin-top: -50px;
}
footer {
  height: 50px;
  bottom: 0px;
  position: fixed;
}
footer iframe,
footer .signature {
  vertical-align: middle;
}
footer .signature {
  margin-left: 40px;
}
.ver-helper {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.figure-context {
  display: inline-block;
  vertical-align: middle;
}
.jrcf-article .figure {
  padding-top: 50px;
  text-align: center;
}
.jrcf-article .figure .figure-context .image {
  margin-bottom: 25px;
}
.jrcf-article .figure .figure-context .image-info {
  display: block;
  margin: 0 auto;
}
.jrcf-article .figure .figure-context .image-info .credit {
  position: absolute;
  right: 50px;
  top: 350px;
}
.jrcf-article .figure .figure-context .image-info h2 {
  font-size: 2em;
}
.jrcf-article .figure .figure-context img {
  border-radius: 150px;
}
.jrcf-article .desc .stat-context,
.jrcf-article .statpanel .stat-context,
.jrcf-article .desc .desc-context,
.jrcf-article .statpanel .desc-context {
  text-align: justify;
}
.jrcf-article .desc .stat-context .title,
.jrcf-article .statpanel .stat-context .title,
.jrcf-article .desc .desc-context .title,
.jrcf-article .statpanel .desc-context .title {
  font-size: 2em;
  border-bottom: 2px solid #333;
  margin-bottom: 30px;
}
.jrcf-article .desc .stat-context .title h2,
.jrcf-article .statpanel .stat-context .title h2,
.jrcf-article .desc .desc-context .title h2,
.jrcf-article .statpanel .desc-context .title h2 {
  margin-bottom: 0px;
}
.jrcf-article .desc .stat-canvas .statrow,
.jrcf-article .statpanel .stat-canvas .statrow {
  margin: 5px 0px;
}
.jrcf-article .desc .stat-canvas .statrow .catname,
.jrcf-article .statpanel .stat-canvas .statrow .catname {
  display: block;
  font-size: 1.2em;
}
.jrcf-article .desc .stat-canvas .statrow .catname,
.jrcf-article .statpanel .stat-canvas .statrow .catname,
.jrcf-article .desc .stat-canvas .statrow .ele,
.jrcf-article .statpanel .stat-canvas .statrow .ele,
.jrcf-article .desc .stat-canvas .statrow .statvalue,
.jrcf-article .statpanel .stat-canvas .statrow .statvalue {
  vertical-align: middle;
}
.jrcf-article .desc .stat-canvas .statrow .ele,
.jrcf-article .statpanel .stat-canvas .statrow .ele {
  display: inline-block;
  margin: 0px 10px;
}
.jrcf-article .desc .stat-canvas .statrow .statvalue,
.jrcf-article .statpanel .stat-canvas .statrow .statvalue {
  font-size: 1.2em;
  font-weight: 800;
  margin-left: 30px;
}
.jrcf-article .scorepanel {
  position: relative;
  height: 100%;
  text-align: center;
}
.jrcf-article .scorepanel .score {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  border: 1px solid #08c;
  line-height: 2;
  height: 300px;
  width: 300px;
}
.jrcf-article .scorepanel .score h1 {
  margin: 0px;
  font-size: 150px;
}
.jrcf-article .scorepanel .score h1::after {
  content: 'pts';
  font-size: 20px;
}
.jrcf-article .socialpage {
  height: 100%;
}
.jrcf-article .socialpage .context {
  display: inline-block;
  vertical-align: middle;
}
.canvas-container {
  text-align: center;
}
.canvas-container .warning {
  position: absolute;
  display: block;
  font-size: 10px;
  right: 0px;
}
@media all and (min-width: 767px) {
  .canvas-container .warning {
    bottom: -20px;
  }
}
@media all and (min-width: 1200px) {
  .canvas-container .warning {
    bottom: 5px;
  }
}
#Radar-Canvas {
  display: inline-block;
  vertical-align: middle;
}
#Radar-Canvas .canvas-title {
  font-size: 1.5em;
}
#Radar-Canvas svg {
  height: 100%;
  width: 100%;
}
#Radar-Canvas .radarWrapper {
  display: none;
}
#Radar-Canvas .radarWrapper.highlighted {
  display: inline-block;
}
#Radar-Canvas .radarWrapper.highlighted .radarArea {
  fill-opacity: 1;
}
#PrevNextBtnBar {
  position: absolute;
  right: 30px;
  margin-top: 50px;
}
#PrevNextBtnBar .prev,
#PrevNextBtnBar .next {
  position: relative;
  cursor: pointer;
  color: #fff;
  display: inline-block;
  background-color: #0d5287;
  padding: 7.5px 10px;
  font-size: 18px;
}
#PrevNextBtnBar .prev {
  left: -30px;
}
#PrevNextBtnBar .prev.hidden {
  display: none;
}
#PrevNextBtnBar .prev:hover,
#PrevNextBtnBar .next:hover {
  background-color: #0585e8;
}
#PrevNextBtnBar .prev::before,
#PrevNextBtnBar .next::after {
  content: '';
  top: 0px;
  position: absolute;
  border-style: solid;
  border-width: 20.35714287px;
}
#PrevNextBtnBar .prev::before {
  left: -40px;
  border-color: transparent #0d5287 transparent transparent;
}
#PrevNextBtnBar .next::after {
  right: -40px;
  border-color: transparent transparent transparent #0d5287;
}
#PrevNextBtnBar .next.hidden::after {
  display: none;
}
#PrevNextBtnBar .prev:hover::before {
  border-right-color: #0585e8;
}
#PrevNextBtnBar .next:hover::after {
  border-left-color: #0585e8;
}
@media all and (min-width: 767px) {
  html,
  body,
  #volume,
  #JRCF-root,
  .jrcf-article,
  .jrcf-article-cell,
  .figure,
  .desc,
  .canvas-container {
    height: auto;
  }
  .jrcf-article {
    padding-bottom: 50px;
  }
  .jrcf-article-cell {
    margin: 50px 0px;
  }
  .socialpage {
    text-align: center;
  }
}
@media all and (min-width: 1200px) {
  html,
  body,
  #volume,
  #JRCF-root,
  .jrcf-article,
  .jrcf-article-cell,
  .figure,
  .desc,
  .canvas-container {
    height: 100%;
  }
  .jrcf-article {
    padding-bottom: 0px;
  }
  .jrcf-article-cell {
    margin: 0px;
  }
}
