* { box-sizing: border-box; }

.b12-col-md-12, .b12-col-md-11, .b12-col-md-10, 
.b12-col-md-9, .b12-col-md-8, .b12-col-md-7, 
.b12-col-md-6, .b12-col-md-5, .b12-col-md-4, 
.b12-col-md-3,.b12-col-md-2, .b12-col-md-1,
.b15-col-md-15, .b15-col-md-14
.b15-col-md-13, .b15-col-md-12, .b15-col-md-11, 
.b15-col-md-10, .b15-col-md-9,
.b15-col-md-8, .b15-col-md-7,
.b15-col-md-6, .b15-col-md-5,
.b15-col-md-4, .b15-col-md-3,
.b15-col-md-2, .b15-col-md-1,
.b12-row-md-12, .b12-row-md-11, 
.b12-row-md-10, .b12-row-md-9, 
.b12-row-md-8, .b12-row-md-7, 
.b12-row-md-6, .b12-row-md-5,
.b12-row-md-4, .b12-row-md-3, 
.b12-row-md-2, .b12-row-md-1,
.b20-col-md-20, .b20-col-md-19 
.b20-col-md-18,
.b20-col-md-17, 
.b20-col-md-16, 
.b20-col-md-15,
.b20-col-md-14,
.b20-col-md-13,
.b20-col-md-12,
.b20-col-md-11,
.b20-col-md-10,
.b20-col-md-9, 
.b20-col-md-8, 
.b20-col-md-7, 
.b20-col-md-6, 
.b20-col-md-5, 
.b20-col-md-4, 
.b20-col-md-3, 
.b20-col-md-2 
.b20-col-md-1 
{ display: inline-block; position: relative; float: left; }

.b12-col-md-12 { width: 100%; }
.b12-col-md-10 { width: calc(100%/6*5); }
.b12-col-md-9 { width: calc(100%/4*3); }
.b12-col-md-8 { width: calc(100%/3*2); }
.b12-col-md-6 { width: 50%; }
.b12-col-md-4 { width: calc(100%/3); }
.b12-col-md-3 { width: 25%; }
.b12-col-md-2 { width: calc(100%/6); }
.b12-col-md-1 { width: calc(100%/12); }

.b12-col-md-offset-12 { left: 100%; }
.b12-col-md-offset-10 { left: calc(100%/6*5); }
.b12-col-md-offset-9 { left: calc(100%/4*3); }
.b12-col-md-offset-8 { left: calc(100%/3*2); }
.b12-col-md-offset-6 { left: 50%; }
.b12-col-md-offset-4 { left: calc(100%/3); }
.b12-col-md-offset-3 { left: 25%; }
.b12-col-md-offset-2 { left: calc(100%/6); }
.b12-col-md-offset-1 { left: calc(100%/12); }

.b15-col-md-15 { width: 100%; }
.b15-col-md-14 { width: calc(100%/15*14); }
.b15-col-md-13 { width: calc(100%/15*13); }
.b15-col-md-12 { width: calc(100%/5*4); }
.b15-col-md-11 { width: calc(100%/15*11); }
.b15-col-md-10 { width: calc(100%/3*2); }
.b15-col-md-9 { width: calc(100%/5*3); }
.b15-col-md-8 { width: calc(100%/15*8); }
.b15-col-md-7 { width: calc(100%/15*7); }
.b15-col-md-6 { width: calc(100%/5*2); }
.b15-col-md-5 { width: calc(100%/3); }
.b15-col-md-4 { width: calc(100%/15*4); }
.b15-col-md-3 { width: calc(100%/5); }

.b20-col-md-20 { width: 100%; }
.b20-col-md-19 { width: calc(100%/20*19); }
.b20-col-md-18 { width: calc(100%/20*18); }
.b20-col-md-17 { width: calc(100%/20*17); }
.b20-col-md-16 { width: calc(100%/20*16); }
.b20-col-md-15 { width: calc(100%/20*15); }
.b20-col-md-14 { width: calc(100%/20*14); }
.b20-col-md-13 { width: calc(100%/20*13); }
.b20-col-md-12 { width: calc(100%/20*12); }
.b20-col-md-11 { width: calc(100%/20*11); }
.b20-col-md-10 { width: calc(100%/20*10); }
.b20-col-md-9 { width: calc(100%/20*9); }
.b20-col-md-8 { width: calc(100%/20*8); }
.b20-col-md-7 { width: calc(100%/20*7); }
.b20-col-md-6 { width: calc(100%/20*6); }
.b20-col-md-5 { width: calc(100%/20*5); }
.b20-col-md-4 { width: calc(100%/20*4); }
.b20-col-md-3 { width: calc(100%/20*3); }
.b20-col-md-2 { width: calc(100%/20*2); }
.b20-col-md-1 { width: calc(100%/20*1); }

.b12-row-md-12 { height: calc(100%); }
.b12-row-md-11 { height: calc(100%/12*11); }
.b12-row-md-10 { height: calc(100%/6*5); }
.b12-row-md-9 { height: calc(100%/4*3); }
.b12-row-md-8 { height: calc(100%/3*2); }
.b12-row-md-7 { height: calc(100%/12*7); }
.b12-row-md-6 { height: calc(100%/2); }
.b12-row-md-5 { height: calc(100%/12*5); }
.b12-row-md-4 { height: calc(100%/3); }
.b12-row-md-3 { height: calc(100%/4); }
.b12-row-md-2 { height: calc(100%/6); }
.b12-row-md-1 { height: calc(100%/12); }

.b15-row-md-15 { height: calc(100%); }
.b15-row-md-14 { height: calc(100%/15*14); }
.b15-row-md-13 { height: calc(100%/15*13); }
.b15-row-md-12 { height: calc(100%/15*12); }
.b15-row-md-11 { height: calc(100%/15*11); }
.b15-row-md-10 { height: calc(100%/15*10); }
.b15-row-md-9 { height: calc(100%/15*9); }
.b15-row-md-8 { height: calc(100%/15*8); }
.b15-row-md-7 { height: calc(100%/15*7); }
.b15-row-md-6 { height: calc(100%/15*6); }
.b15-row-md-5 { height: calc(100%/15*5); }
.b15-row-md-4 { height: calc(100%/15*4); }
.b15-row-md-3 { height: calc(100%/15*3); }
.b15-row-md-2 { height: calc(100%/15*2); }
.b15-row-md-1 { height: calc(100%/15); }
