html, body{
	height:100%;
	width:100%;
	margin:0;
}
#contain{
	z-index:0;
	background:#f9f9f9;
	overflow-y:scroll;
	overflow-x:hidden;
}
#logo-wrapper{
	padding:20px;
}
#logo{
	background:url('vjtw-logo.png');
	background-repeat:no-repeat;
	background-size:contain;
	background-position:50%;
}
.wrapper{
	padding:25px;
}
#Vjtwicon{
	background:url('foundstory-125px.png');
	background-repeat:no-repeat;
	background-size:contain;
	background-position:50%;
	z-index:1;
	cursor:pointer;
}
#Logoicon{
	background:url('logointro-125px.png');
	background-repeat:no-repeat;
	background-size:contain;
	background-position:50%;
	z-index:1;
	cursor:pointer;
}
#Goalicon{
	background:url('vision-125px.png');
	background-repeat:no-repeat;
	background-size:contain;
	background-position:50%;
	z-index:1;
	cursor:pointer;
}
#Membericon{
	background:url('memberintro-125px.png');
	background-repeat:no-repeat;
	background-size:contain;
	background-position:50%;
	z-index:1;
	cursor:pointer;
}
#icon_now_wrapper{
	position:absolute;
	z-index:300;
	opacity:0.6;
	top:0px;
	left:0px;
	padding:15px 20px 15px 0px;
}
#icon_now{
	background:#d7d7d7;
	border-top-right-radius:15px;
	border-bottom-right-radius:15px;
	cursor:pointer;
}
#footer{
	text-align:center;
}
#home-link{
	font-family:Comic Sans MS;
	font-size: 1em;
	text-decoration:none;
	font-weight:600;
	color:#000;
}
.Title{
	margin-left:34px;
	padding: 20px;
	margin-bottom:20px;
}
.arrowdown{
	height:38px;
	width:38px;
	margin:3px 0 0 0;
	padding:5px;
}
#whyVjtw_q1_bt, #whyVjtw_q2_bt, #whyLogo_q1_bt, #whyLogo_q2_bt{
	background:url('arrowdown.gif');
}
.arrowdown:hover, .arrowup:hover{
	cursor: pointer;
}
.question{
	padding:10px;
	margin: 20px 20px 5px 20px;
	width:96%;
}
.answer{
	padding:10px;
	margin: 5px 20px 5px 20px;
	width:96%;
}
.content-wrapper{
	padding: 20px;
	font-family: Comic Sans MS;
	display: inline-block;
	vertical-align: middle;
	font-size: 1em;
	margin:30px;
	background:#fff;
	border-radius:10px;
	box-shadow:0 1px 1px 0 #BF9720;
}
.content-wrapper > div{
	margin-bottom:20px;
}
